/*!****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Card.css ***!
  \****************************************************************/
.card {
    width: 125px;
    height: 125px;
    background-color:aquamarine;
}
/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Board.css ***!
  \*****************************************************************/
.board {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 600px;
    margin: 0 auto;
    justify-content: space-around;
}
/*!********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/StartApp.css ***!
  \********************************************************************/
body {
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12797); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
